.git
.svn
deployment.xml
misc.xml
modules.xml
vcs.xml

.gradle
build/
/target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
maven/node_modules/
maven/dev/suvera/scim2/scim2-sdk-server-example/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
logs/
/test.html
test.json

/*/target/
/*/logs/
/*/out/
__pycache__

### VS Code ###
.vscode/
